button, input[type=submit] {
  @include sans-serif-semibold;
  color: $white;
  background-color: $yellow;
  @include size(font-size, 18);
  @include size(padding-top, 13);
  @include size(padding-bottom, 13);
  @include size(padding-left, 25);
  @include size(padding-right, 25);
  @include size(border-radius, 50);
  border: none;
  @include size(min-width, 265);
  cursor: pointer;
  @include box-shadow(rgba($pure-black, 0.20) 0 3px 8px);
  @include size(margin-bottom, 20);

  &:disabled {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }

  &.sub-step {
    background-color: white;
    border: 1px solid $yellow;
    color: $yellow;
    @include size(font-size, 16);
    @include size(min-width, 175);
    display: block;
    margin: 0 auto;
    @include size(margin-bottom, 30);
  }

  &.link {
    background: none;
    box-shadow: none;
    color: $black;
    min-width: auto;
    @include sans-serif-light;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $black;
    border-radius: 0;
  }
}
