@mixin icon-font {
  font-family: 'TMIIcons';
  font-weight: normal;
}

@mixin sans-serif-tmi-regular {
  font-family:'Patron';
  font-weight: normal;
}

@mixin sans-serif-tmi-bold {
  font-family:'Patron';
  font-weight: bold;
}

@mixin serif-tmi-bold {
  font-family:'Tiempos';
  font-weight: bold;
}

@mixin sans-serif-regular {
  font-family: 'Roboto mono';
  font-weight: normal;
}

@mixin sans-serif-bold {
  font-family: 'Roboto mono';
  font-weight: bold;
}

@mixin body-text {
  @include sans-serif-regular;
  @include size(font-size, 14);
  // color: $black;
}

body {
  @include body-text;
  text-rendering:geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: 'Roboto';
  @include size(font-size, 40);
  @include size(line-height, 48);
  // color: $black;
  @include size(margin-top, 5);
  @include size(margin-bottom, 5);
}
