input[type=text] {
  width: 100%;
  border: 1px solid $gray;
  @include size(height, 40);
  @include size(border-radius, 4);
  @include sans-serif-regular;
  color: $black;
  @include size(font-size, 16);
  @include size(padding-left, 10);
  @include size(padding-right, 10);

  &:focus {
    outline: none;
  }
}

textarea:focus {
  outline: none;
}

.formRow {
  @include size(margin-bottom, 20);
  &.error {
    input[type=text] {
      border: 1px solid $red;
    }
  }
}

.radio_field {
  label {
    margin: 0;
    display: block;
    @include size(padding, 12);
    border: 1px solid $gray;
    @include sans-serif-medium;
    @include size(font-size, 16);
    color: $black;
    @include size(padding-left, 40);
    @include size(margin-top, -1);
    @include size(margin-bottom, 3);
    @include size(border-radius, 4);
    cursor: pointer;
    position: relative;

    &:first-child {
      margin-top: 0px;
    }

    &:after, &:before {
      content: '';
      position: absolute;
      @include size(left, 8);
      @include size(top, 7);
      @include size(width, 24);
      @include size(height, 24);
    }

    &:after {
      cursor: pointer;
      background: white;
      border: 1px solid $gray;
      @include size(border-radius, 4);
      transition: all 0.25s;
      z-index: 10;
    }

    &:before {
      @include icon-font;
      opacity: 0;
      content: '\2713';
      position: absolute;
      @include size(top, 13);
      @include size(left, 15);
      @include size(font-size, 14);
      transition: all 0.25s;
      z-index: 20;
      color: $yellow;
    }

    &:hover:before {
      opacity: 1.0;
    }
  }
}

input:checked + label {
  border-color: $yellow;
  z-index: 5;

  &:after {
    border-color: $yellow;
    background-color: $white;
  }

  &:before {
    opacity: 1;
  }
}

input[type=radio], input[type=checkbox] {
  display: none;
}

input[type=radio] + label {
  &:after {
    border-radius: 50%;
  }
}

@include mq(min-width, 600) {
  .formWrapper {
    .formRow {
      &.narrow {
        @include span(2 of 7)
      }
      &.wide {
        @include span(5 of 7)
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}
