// TMI colors

$white: #fff;
$black: #191919;
$yellow: #ffbf00;
$purple: #4E42ff;

$pure-black: #000;

$light-gray: #cecece;
$dark-gray: #444444;
$black-shade: rgba($black, 0.7);


// extra colors
$red: #ff0044;
