// --------------------------------------------------------
// MAIN STYLESHEET
// --------------------------------------------------------
body {
  background-color: #353535;
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */

  height: 100%;

  flex: 1;

  padding-top: 48px;
}

h1 {
  font-family: "Roboto";
  font-weight:bold;
  font-size: 100pt;
  margin-top: 24pt;
  margin-bottom: 40pt;
}

h2 {
  font-family: "Roboto Mono";
  font-weight:100;
  margin-top: 24pt;
  margin-bottom: 60pt;
}

button {
  background-color: #777777;

  font-family: "Roboto Mono";
  font-weight: normal;
  font-size: 36pt;

  border: 0;
  height: 48pt;

  margin: 0px;
  margin-right: 16px;

  &.red {
    background-color: #FF0072;
    font-weight: bold;
  }
}

a {

  text-decoration: underline;
  color: #FF0072;

  &:hover, &:active, &:visited {
    color: #FF0072;
  }
}

.code {
  font-family: "Roboto Mono";
  margin-top: 60pt;

  div.file {
    color: #777777;
    padding-bottom: 8px;
  }

  ul {
    list-style: none;
    line-height: normal;
    padding: 0;
    margin-top: 0;

    li {
      padding: 0;
      margin: 0;

      span.string {
        color: #9951ff;
      }

      span.number {
        color: #F5A623;
      }
    }
  }
}

.links {
  img {
    width: 48px;
    height: 48px;
  }

  ul {
    list-style: none;
    li {
      display: inline;
    }
  }
}

// --------------------------------------------------------
// MEDIA
// --------------------------------------------------------
